
/* #youlosepic1,
#youlosepic2,
#youlosepic3,
#youlosepic4,
#youlosepic5,
#youlosepic6,
#youlosepic7,
#youwinpic1,
#youwinpic2 {

    .floatRight{float:right;margin-left:20px

} */

#pressstart {
    float: center;
    font-size: 35px;
    margin-top: 300px;
    margin-left: 200px;
    padding: 100px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}

#choicecontainer {
    position: relative;
}

#memecontainer {
    position: absolute;
}
body {

    color: white;
    /* background: "Assets/80s-Synthwave-And-Retrowave-Background-Pack-07.jpeg"; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* animation: pulse 15s infinite; */

}

main {
    background: "Assets/80s-Synthwave-And-Retrowave-Background-Pack-07.jpeg";
}

.hidden {
    visibility: hidden;
}

#hit-next {
    visibility: hidden;
}

/* #background {
    opacity
} */

@keyframes pulse {
    0% {
        background-color: lightslategrey;
    }
    100% {
        background-color: white;
    }
}

p {
    color: whitesmoke;
    word-wrap:normal;
    opacity: 40%;;
}

#restart {
    color: red;
    font-size: 35px;
}


#points {
    color: blue;
    font-size: 50px;
    padding: 5px;
    margin: 5px;
    animation: pulse 2s infinite;
}

audio {
    width: 100px;
    height: 20px;
    color: black;
}

audio#audiocontrol {
    visibility: visible;
}


.flask1,
.flask2
 {
    margin: 50px;
    display: inline-block;

}



#hit-next {
    margin: 100px;
    padding: 15px;
}

.radio-button {
    display: block;
    flex-wrap: nowrap;
    margin: 15px;
}
