


body {

    color: #d40b26;


}

p {
    color: #1cd40b;
}


audio {
    width: 100px;
    height: 20px;
    color: black;
}

audio#audiocontrol {
    visibility: visible;
}


.flask1,
.flask2
 {
    margin: 50px;
    display: inline-block;
    size: 25px;;
}


#hit-next {
    margin: 100px;
    padding: 15px;
}

.radio-button {
    display: block;
    flex-wrap: nowrap;
    margin: 15px;
}
